/* label.MuiFormLabel-root {
  text-align: center;
} */

button.delete {
  width: 24px;
  padding: 0px;
  min-width: 10px;
  display: inline-block;
}

/* span.index {
  display: inline-block;
} */

div.button-container {
  float: right;
}

div.text-container {
  float: left;
}
